# 数组的拼接

In [1]:
# 导入'numpy'模块并加以别名'np'

In [2]:
import numpy as np

In [3]:
# 创建一个二维数组

In [4]:
a = np.array([[1,2,3],[4,5,6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [5]:
b = np.array([[7,8,9],[10,11,12]])
b # 默认Y轴

array([[ 7,  8,  9],
       [10, 11, 12]])

In [6]:
# 通过 'np.concatenate'中的方法将a，b数组进行（默认Y轴）拼接

In [7]:
c = np.concatenate((a,b))
c

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [8]:
# 通过 'np.concatenate'中的方法将a，b数组进行指定x轴拼接

In [9]:
d = np.concatenate((a,b),axis = 1)
d

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [10]:
# stack,hstack,vstack拼接方法

In [11]:
e = np.stack((a,b)) # 默认Y轴
e

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [12]:
f = np.hstack((a,b))# x轴（水平）
f

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [13]:
g = np.vstack((a,b))# 垂直
g

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

# 数组分割

In [14]:
# 创建二维数组

In [15]:
arr = np.arange(1,5).reshape(2,2)
arr

array([[1, 2],
       [3, 4]])

In [16]:
# 通过'np.split'对数组进行分割（分割数组名，从哪个 符号开始分割，axis = 轴的方向）

In [17]:
a = np.split(arr,2,axis = 0)
a

[array([[1, 2]]), array([[3, 4]])]

In [18]:
b = np.split(arr,2,axis = 1)
b

[array([[1],
        [3]]),
 array([[2],
        [4]])]

In [19]:
# 通过'np.hsplit'和'np.vsplit'进行水平分割和垂直分割（分割数组名，从哪个符号开始分割）

In [20]:
c = np.hsplit(arr,2)

In [21]:
c

[array([[1],
        [3]]),
 array([[2],
        [4]])]

In [22]:
d = np.vsplit(arr,2)
d

[array([[1, 2]]), array([[3, 4]])]

# 转置

In [23]:
# 创建一个3行4列的二维数组

In [24]:
a = np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [25]:
# 通过'np.transpose()'对数组进行转置，转置可以理解为是对原有的数组每一列，行着写，从左边开始

In [26]:
np.transpose(a)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [27]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [28]:
a.T # 简写- (数组名.T)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [29]:
# 两轴想换默认(0,1)反写(1,0)

In [30]:
a.swapaxes(1,0)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

# Pandas

## 1. 读取csv

In [31]:
# 导入'pandas'并加以别名'pd'

In [32]:
import pandas as pd

In [33]:
# 通过pd.read_csv('路径'，header = ,names=[],index_col = '',usecols =[])读取一个csv文件

In [34]:
df = pd.read_csv('./data/spider.csv',header = None,names = ['时间','网址','标题','值1','值2'],index_col = '时间',usecols = ['时间','网址','标题'])
df

,网址,标题
时间,,
2015-4-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌
2015-8-24,http://www.apinpai.com/,我;张国荣;80;励志
2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...
2015-4-2,http://bj.qu114.com/,my way;张敬轩;90;励志
2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...
...,...,...
2015-7-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志
2015-4-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感
2015-4-2,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志
2015-4-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志
2015-5-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感

## 2. 读取Excel

In [35]:
# 通过'pd.read_excel('路径')'读取一个excel文件

In [36]:
df2 = pd.read_excel('./data/saleinfo_month.xls')
df2

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [37]:
type(df2)

pandas.core.frame.DataFrame

## 3. 通过列表创建series

In [38]:
# 默认索引为数字：0,1,2.....通过列表创建

In [39]:
s = pd.Series([1,2,3])
print(s,type(s))

0    1
1    2
2    3
dtype: int64 <class 'pandas.core.series.Series'>

## 4. 创建有标签索引的series

In [40]:
s = pd.Series([1,2,3],index = ['a','b','c'])
print(s,type(s))

a    1
b    2
c    3
dtype: int64 <class 'pandas.core.series.Series'>

## 5.通过字典创建series

In [41]:
s = pd.Series({'a':10,'b':20,'c':30})
print(s,type(s))

a    10
b    20
c    30
dtype: int64 <class 'pandas.core.series.Series'>

In [42]:
s['a']

10

In [43]:
s['b']

20

In [44]:
s[['a','c']]

a    10
c    30
dtype: int64

In [45]:
df2 = pd.read_excel('./data/saleinfo_month.xls')
df2

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [46]:
# 获取df2中['revenue']这一列的所有数据

In [47]:
df2['revenue']

0       264066
1       516215
2       536567
3       484049
4       245628
         ...
1862    172680
1863     29874
1864    548444
1865     19380
1866     22272
Name: revenue, Length: 1867, dtype: int64

In [48]:
# 一行多列，一列多行 == 单行，单列 == 数据类型为Series

In [49]:
type(df2['revenue'])

pandas.core.series.Series

## 6.创建dataFrame

In [50]:
# 通过'pd.DataFrame(数据名)'创建DataFrame数据类型

In [51]:
data = {
    '姓名':['张三','李四','王五','赵六'],
    '年龄':[30,40,50,60],
    '工资':[3000,4000,5000,3400]
}
df = pd.DataFrame(data)
df

   姓名  年龄    工资
0  张三  30  3000
1  李四  40  4000
2  王五  50  5000
3  赵六  60  3400

In [52]:
df.columns = ['username','age','sal']
df

  username  age   sal
0       张三   30  3000
1       李四   40  4000
2       王五   50  5000
3       赵六   60  3400

In [53]:
df3 = pd.read_excel('./data/saleinfo_month.xls')
df3

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [54]:
df3['brand']

0       奔驰
1       奔驰
2       奔驰
3       奔驰
4       宝马
        ..
1862    哈弗
1863    哈弗
1864    哈弗
1865    哈弗
1866    哈弗
Name: brand, Length: 1867, dtype: object

In [55]:
type(df3['brand'])

pandas.core.series.Series

In [56]:
df3[['series','manufacture']]

     series manufacture
0        德系        北京奔驰
1        德系        北京奔驰
2        德系        北京奔驰
3        德系        北京奔驰
4        德系        华晨宝马
...     ...         ...
1862     自主        长城汽车
1863     自主        长城汽车
1864     自主        长城汽车
1865     自主        长城汽车
1866     自主        长城汽车

[1867 rows x 2 columns]

In [57]:
# DataFrame数据类型 == 多行多列

In [58]:
type(df3[['series','manufacture']])

pandas.core.frame.DataFrame

## 查询一行

In [59]:
df3.loc[1]

series              德系
manufacture       北京奔驰
cartype            SUV
brand               奔驰
carclass         奔驰GLC
carlevel            中型
carprice            49
stat_month      202001
quantity         10535
revenue         516215
profit         92918.7
Name: 1, dtype: object

In [60]:
type(df3.loc[1])

pandas.core.series.Series

## 查询多行

In [61]:
df3.loc[2:4]# 为左闭右闭区间右边也包含

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.0
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.3
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.7

In [62]:
df3.loc[[1,3,4]] # 多行查询跳着查

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.7
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.3
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.7

# 使用单个label值查询数据（数值）

In [63]:
df3.loc[4,'carclass']

'宝马X1'

In [65]:
df3.loc[4,['series','cartype','carprice']]

series       德系
cartype     SUV
carprice     36
Name: 4, dtype: object

In [66]:
type(df3.loc[4,['series','cartype','carprice']])

pandas.core.series.Series

In [67]:
import pandas as pd
df = pd.read_excel('./data/saleinfo_month.xls')
df

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [ ]:
# 出现查询多行或者多列不连续或者无法使用切片时记得[['多行'],['多列']]

In [68]:
df.loc[[1,3],['cartype','carprice']]

  cartype  carprice
1     SUV        49
3      轿车        53

## 值列表形式

In [69]:
# 这个前面的1:3是切片就不用[[]]

In [70]:
df.loc[1:3,['cartype','carprice','quantity']]

  cartype  carprice  quantity
1     SUV        49     10535
2      轿车        41     13087
3      轿车        53      9133

In [71]:
df.loc[1:3,'cartype']

1    SUV
2     轿车
3     轿车
Name: cartype, dtype: object

In [72]:
# 跳着查询多行记得——[[]]

In [73]:
df.loc[[1,5,7,9]]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.7
5,德系,华晨宝马,轿车,宝马,宝马2系,紧凑,28,202001,1060,29680,7420.0
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
9,德系,上汽大众,SUV,大众,途观L,紧凑,29,202001,7554,219066,32859.9

In [74]:
df.loc[[1,5,7,9],'brand']

1    奔驰
5    宝马
7    宝马
9    大众
Name: brand, dtype: object

## 条件表达式

In [75]:
import pandas as pd

In [76]:
df = pd.read_excel('./data/saleinfo_month.xls')
df

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [77]:
# 后面的',:'可以省略

In [78]:
df.loc[df['carprice'] > 40,:]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.7
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.0
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.3
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
11,德系,上汽大众,轿车,大众,辉昂,中大型,50,202001,278,13900,4170.0
...,...,...,...,...,...,...,...,...,...,...,...
1742,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,201901,5202,275706,30327.7
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0
1754,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201901,12275,564650,152456.0
1757,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201901,13209,766122,183869.0
1831,日系,一汽丰田,SUV,丰田,普拉多,紧凑,50,201901,2495,124750,28692.5

In [79]:
# 注意符号的使用只能用'&','\','~'，不能使用and，or，非

In [80]:
df.loc[(df['carprice'] > 40) & (df['carprice']<50),:]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.7
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.0
18,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,202001,13087,602002,180601.0
154,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,201912,10391,509159,91648.6
155,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201912,8529,349689,80428.5
170,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201912,6998,321908,41848.0
310,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,201911,6705,328545,32854.5
311,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201911,8404,344564,86141.0
326,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201911,12592,579232,127431.0
466,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201910,6930,325710,52113.6
467,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201910,8517,349197,97775.2
482,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201910,11176,514096,56550.6
621,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201909,7000,329000,49350.0
622,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201909,8136,333576,66715.2
637,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201909,11534,530564,132641.0
771,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201908,9551,448897,76312.5
772,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201908,10729,439889,61584.5
786,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201908,11371,523066,115075.0
913,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201907,8083,379901,94975.2
914,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201907,9539,391099,86041.8
928,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201907,10849,499054,124764.0
1057,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201906,8300,390100,58515.0
1058,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201906,10417,427097,76877.5
1073,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201906,9924,456504,127821.0
1199,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201905,7254,340938,64778.2
1200,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201905,9582,392862,51072.1
1214,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201905,10708,492568,88662.2
1339,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201904,6869,322843,35512.7
1340,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201904,7000,287000,83230.0
1354,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201904,11489,528494,105699.0
1478,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201903,4711,221417,30998.4
1479,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201903,8463,346983,55517.3
1493,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201903,11840,544640,163392.0
1612,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201902,5500,258500,51700.0
1613,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201902,6101,250141,75042.3
1626,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201902,8697,400062,92014.3
1740,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201901,6006,282282,33873.8
1741,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,201901,9983,409303,61395.4
1754,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201901,12275,564650,152456.0

查询售价超过40万的奥迪

In [81]:
df.loc[(df['carprice']>40) & (df['brand'] == '奥迪'),:]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
18,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,202001,13087,602002,180601.0
21,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,202001,12216,708528,148791.0
170,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201912,6998,321908,41848.0
173,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201912,6178,358324,71664.8
326,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201911,12592,579232,127431.0
329,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201911,13808,800864,144156.0
482,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201910,11176,514096,56550.6
485,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201910,12362,716996,136229.0
637,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201909,11534,530564,132641.0
640,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201909,11758,681964,81835.7
786,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201908,11371,523066,115075.0
789,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201908,11745,681210,81745.2
928,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201907,10849,499054,124764.0
931,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201907,10842,628836,188651.0
1073,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201906,9924,456504,127821.0
1076,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201906,9273,537834,129080.0
1214,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201905,10708,492568,88662.2
1217,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201905,11227,651166,110698.0
1354,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201904,11489,528494,105699.0
1357,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201904,13118,760844,220645.0
1493,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201903,11840,544640,163392.0
1496,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201903,14519,842102,109473.0
1626,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201902,8697,400062,92014.3
1629,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201902,7691,446078,124902.0
1754,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201901,12275,564650,152456.0
1757,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201901,13209,766122,183869.0

查询车系为德系且价格大于48万且车型为SUV的车

In [82]:
# df.loc[行，列]
df.loc[(df['carprice'] > 48) & (df['series'] == '德系') & (df['cartype'] == 'SUV'),:]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.7
154,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,201912,10391,509159,91648.6
310,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,201911,6705,328545,32854.5

列出车价小于20万的车或车价大于50万

In [83]:
df.loc[(df['carprice'] < 20 ) | (df['carprice'] > 50),:]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.00
10,德系,上汽大众,轿车,大众,POLO,小型,11,202001,17811,195921,39184.20
12,德系,上汽大众,轿车,大众,朗行,紧凑,14,202001,705,9870,2270.10
13,德系,上汽大众,轿车,大众,朗逸,紧凑,11,202001,52428,576708,86506.20
...,...,...,...,...,...,...,...,...,...,...,...
1861,自主,长城汽车,SUV,哈弗,哈弗H1,小型,7,201901,10463,73241,15380.60
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00

匿名函数

In [84]:
# lambda 参数:表达式

In [85]:
add = lambda x,y:x+y

In [86]:
add(3,4)

7

In [87]:
df.loc[lambda df:df['carprice'] > 60]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

In [88]:
df

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [89]:
def query_my_data(df):
    return (df['carprice'] > 40) & (df['brand'] == '宝马')

In [90]:
df.loc[query_my_data]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

# query查询方式

In [91]:
# 可以直接使用and，or，not 使用~这个条件要加()

In [92]:
# 查询价格大于60的车

In [93]:
df.query("carprice > 60")

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

In [94]:
# 车系为德系且价格大于48万且车型为SUV的车
df.query("series == '德系' and carprice > 48 and cartype == 'SUV'" )

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.7
154,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,201912,10391,509159,91648.6
310,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,201911,6705,328545,32854.5

In [95]:
df.query("carprice < 60")

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [96]:
df.query("not (carprice < 60)")

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

In [97]:
df.query("~(carprice < 60)")

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

# 时间问题

取数据

In [98]:
df = pd.read_csv('./data/spider.csv',header = None,names = ['date1','url','title','val1','val2'])
df

,date1,url,title,val1,val2
0,2015-4-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌,216.0,1392.68
1,2015-8-24,http://www.apinpai.com/,我;张国荣;80;励志,273.0,1447.17
2,2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...,NaN,NaN
3,2015-4-2,http://bj.qu114.com/,my way;张敬轩;90;励志,52.0,337.27
4,2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...,NaN,NaN
...,...,...,...,...,...
1391,2015-7-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志,87.0,927.30
1392,2015-4-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感,31.0,684.56
1393,2015-4-2,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志,47.0,1419.74
1394,2015-4-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志,124.0,1434.67
1395,2015-5-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感,103.0,1020.50

In [119]:
# df.query("date1 == '2015-5-16'") 可以以这样的模式进行查询

转类型

In [99]:
# 通过df['date1'](新创建的数据)=pd.to_datetime(df['date1'](需要转换的旧数据),format = '%Y-%m')将字符串类型的时间转换数据格式
# 建议在实际工作中df['date1']= (换一个名字，创建新的) 不要用转换完的数据覆盖掉原来的数据（备份最重要）

In [100]:
df['date1'] = pd.to_datetime(df['date1'],format ='%Y-%m-%d')
df

,date1,url,title,val1,val2
0,2015-04-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌,216.0,1392.68
1,2015-08-24,http://www.apinpai.com/,我;张国荣;80;励志,273.0,1447.17
2,2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...,NaN,NaN
3,2015-04-02,http://bj.qu114.com/,my way;张敬轩;90;励志,52.0,337.27
4,2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...,NaN,NaN
...,...,...,...,...,...
1391,2015-07-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志,87.0,927.30
1392,2015-04-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感,31.0,684.56
1393,2015-04-02,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志,47.0,1419.74
1394,2015-04-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志,124.0,1434.67
1395,2015-05-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感,103.0,1020.50

列出8月份数据

In [101]:
# 此时转换完的数据就可以用query进行查询了

In [102]:
df.query("date1.dt.month == 8")

,date1,url,title,val1,val2
1,2015-08-24,http://www.apinpai.com/,我;张国荣;80;励志,273.0,1447.17
6,2015-08-01,http://www.apinpai.com/,小兔子乖乖;小蓓蕾组合;90;儿歌,184.0,473.07
7,2015-08-06,http://www.99inf.com/,光辉岁月;beyond;80;励志,72.0,1051.73
9,2015-08-07,http://www.alifenfen.com/,星;邓丽君;80;励志,257.0,1779.36
21,2015-08-05,http://www.waaku.com/,永远不要说放弃;童安格;80;励志,261.0,1353.83
...,...,...,...,...,...
1360,2015-08-29,http://beijing.faxinxi.cn/,从头再来;刘欢;90;励志,129.0,525.28
1364,2015-08-09,http://www.favolist.com/,my way;张敬轩;90;励志,20.0,1328.09
1365,2015-08-21,http://www.favolist.com/,the climb;miley cyrus;80;励志,64.0,595.47
1385,2015-08-12,http://bj.qu114.com/,永远不要说放弃;童安格;80;励志,19.0,1551.46
1388,2015-08-12,http://info.tianya.cn,最冷一天;陈奕迅;90;伤感,167.0,291.41

查询2015年4月份数据

In [103]:
#df['date1'] = pd.to_datetime(df['date1']).apply(lambda x:x.strftime('%Y-%m'))

In [104]:
df['年月'] = pd.to_datetime(df['date1']).apply(lambda x:x.strftime('%Y-%m'))
df

,date1,url,title,val1,val2,年月
0,2015-04-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌,216.0,1392.68,2015-04
1,2015-08-24,http://www.apinpai.com/,我;张国荣;80;励志,273.0,1447.17,2015-08
2,2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...,NaN,NaN,2015-12
3,2015-04-02,http://bj.qu114.com/,my way;张敬轩;90;励志,52.0,337.27,2015-04
4,2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...,NaN,NaN,2015-12
...,...,...,...,...,...,...
1391,2015-07-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志,87.0,927.30,2015-07
1392,2015-04-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感,31.0,684.56,2015-04
1393,2015-04-02,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志,47.0,1419.74,2015-04
1394,2015-04-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志,124.0,1434.67,2015-04
1395,2015-05-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感,103.0,1020.50,2015-05

In [105]:
# df.query("date1 = '2015-04'")

In [106]:
df.query("年月 == '2015-04'")

,date1,url,title,val1,val2,年月
0,2015-04-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌,216.0,1392.68,2015-04
3,2015-04-02,http://bj.qu114.com/,my way;张敬轩;90;励志,52.0,337.27,2015-04
11,2015-04-05,http://www.yifawang.cn/,同道中人;张国荣;80;励志,42.0,963.85,2015-04
14,2015-04-26,http://info.tianya.cn,最冷一天;陈奕迅;90;伤感,259.0,554.35,2015-04
15,2015-04-06,http://www.apinpai.com/,加油;林俊杰/mc hotdog;90;励志,252.0,644.22,2015-04
...,...,...,...,...,...,...
1384,2015-04-21,http://beijing.faxinxi.cn/,最冷一天;陈奕迅;90;伤感,171.0,1009.83,2015-04
1386,2015-04-02,http://www.ezxun.com/,逃脱;李玟;90;伤感,135.0,1315.94,2015-04
1392,2015-04-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感,31.0,684.56,2015-04
1393,2015-04-02,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志,47.0,1419.74,2015-04
1394,2015-04-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志,124.0,1434.67,2015-04

where

In [108]:
df = pd.read_excel('./data/saleinfo_month.xls')

In [109]:
df

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [110]:
df.where(df['carprice']>50)

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53.0,202001.0,9133.0,484049.0,91969.3
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
df.where((df['carprice']>20) & (df['carprice']<30))

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24.0,201901.0,928.0,22272.0,2895.36

补充sep

In [112]:
df = pd.read_csv('./data/链家分区汇总.csv')

In [113]:
df

      成交价（万）\t成交时间\t所在小区\t户型\t建筑面积\t挂牌价格（万）\t成交周期（天）\t调价（次）\t带看（次）\t关注（人）\t浏览（次\t链家编号\t交易权属\t挂牌时间\t房屋用途\t房屋年限\t房权所属\t房屋户型\t所在楼层\t户型结构\t套内面积（㎡）\t建筑类型\t房屋朝向\t建成年代\t装修情况\t建筑结构\t供暖方式\t梯户比例\t产权年限\t配备电梯\txx1\txx2
0      大兴\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
1      297\t2019-10-29 成交\t格林云墅\t3室1厅\t89.95\t300\t60...
2      366\t2019-10-29 成交\t三羊里\t2室1厅\t89.79\t368\t31\...
3      226\t2019-10-29 成交\t亦庄北岸\t1室1厅\t56.04\t230\t36...
4      548\t2019-10-29 成交\t时代龙和\t3室2厅\t144.65\t595\t3...
...                                                  ...
38388  424-469\t1905/7/11\t冠城名敦道\t1室0厅\t76.63\t470\t5...
38389  570-630\t1905/7/11\t新景家园东区\t3室2厅\t91\t475\t203...
38390  738-815\t1905/7/11\t东皇城根南街\t3室1厅\t78.26\t800\t...
38391  697-771\t1905/7/11\t绿景馨园\t3室1厅\t81.36\t765\t暂无...
38392  692-765\t1905/7/11\t兴隆都市馨园\t2室1厅\t68.06\t750\t...

[38393 rows x 1 columns]

In [114]:
df1 = pd.read_csv('./data/链家分区汇总.csv',sep = '\t')
df1

D:\ST\STProgramfiles\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,成交价（万）,成交时间,所在小区,户型,建筑面积,挂牌价格（万）,成交周期（天）,调价（次）,带看（次）,关注（人）,...,房屋朝向,建成年代,装修情况,建筑结构,供暖方式,梯户比例,产权年限,配备电梯,xx1,xx2
0,大兴,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,297,2019-10-29 成交,格林云墅,3室1厅,89.95,300,608,1.0,4.0,43.0,...,南 北,2014,精装,钢混结构,集中供暖,一梯两户,70,有,NaN,NaN
2,366,2019-10-29 成交,三羊里,2室1厅,89.79,368,31,0.0,3.0,4.0,...,南 北,2009,其他,钢混结构,集中供暖,一梯两户,70,无,NaN,NaN
3,226,2019-10-29 成交,亦庄北岸,1室1厅,56.04,230,364,1.0,98.0,141.0,...,东北,2008,简装,钢混结构,自供暖,两梯四户,70,有,NaN,NaN
4,548,2019-10-29 成交,时代龙和,3室2厅,144.65,595,39,0.0,17.0,19.0,...,南 北,2007,简装,钢混结构,自供暖,一梯两户,70,有,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,424-469,1905/7/11,冠城名敦道,1室0厅,76.63,470,53,0.0,1.0,2.0,...,76.63㎡,塔楼,西,2009,精装,钢混结构,集中供暖,四梯十三户,70,有
38389,570-630,1905/7/11,新景家园东区,3室2厅,91,475,2031,0.0,0.0,0.0,...,91㎡,板塔结合,东 西,2005,其他,钢混结构,自供暖,两梯四户,70,有
38390,738-815,1905/7/11,东皇城根南街,3室1厅,78.26,800,231,0.0,0.0,58.0,...,78.26㎡,据,板楼 南 西 北,1987,精装,砖混结构,集中供暖,一梯三户,70,无
38391,697-771,1905/7/11,绿景馨园,3室1厅,81.36,765,暂无数据,0.0,7.0,10.0,...,81.36㎡,板楼,南 北,2004,简装,钢混结构,自供暖,一梯四户,70,无
38392,692-765,1905/7/11,兴隆都市馨园,2室1厅,68.06,750,7,0.0,1.0,0.0,...,68.06㎡,板塔结合,南 北,2003,简装,钢混结构,自供暖,一梯四户,70,无